<!-- In the _header.ejs partial of your app, create a <form> that POSTs to /login. The form should contain:
a single text input with name="username"
a submit button to submit the form
Users will type in any username into this form in order to "sign in" for now. -->
    <style>
    .topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #2196F3;
  color: white;
}
.topnav .login-container {
  float: right;
}
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width:120px;
}
.topnav .login-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #555;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.topnav .login-container button:hover {
  background-color: green;
}
@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
</style>
<% if(username){ %>
 <div class="topnav">
            <a class="active" >Logged in as TinyApper User <%= username%> </a>
            <div class="login-container">
                <button type="submit">Logout</button>
            </div>
        </div>
<% } else { %>
<form action="/login", method="POST">
        <div class="topnav">
            <a class="active" href="/urls">Home</a>
            <div class="login-container">
                <input type="text" placeholder="email" name="email">
                <input type="text" placeholder="password" name="password">
                <button type="submit">Login</button>
            </div>
        </div>
        </form>
<% } %>
    
    

<br>
<h1>TinyApp</h1>
<a href = '#'> Create New TinyURL </a>
