<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<h1>TinyApp</h1>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <p>This is where you will see the list of TinyApp</p>
    <% if(urls) {%>
        <%for ( var key in urls) {%>
          <li><%= key %> :<a href='#' ><%= urls[key] %></a></li>
      <%}%>
      <% }%>
      <%
      // A list or table of the URLs and their shortened forms. If you need a reminder on how to
      //loop through data with EJS, take another peek at the What is a Template Engine? Reading. -->
      // A link for shortening a new URL. This will be a dead link for now (href='#') as we will
      //build the page for this functionality later. -->
      %> 
</body>
</html>
