<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
  <style>
      li {
          display: flex;
          /* align-content:space-between; */
          /* justify-content:space-between */
      }
      a {
          padding-right: 10px;
          padding-left: 10px
      }
  </style>
</head>
<body style="font-size:20px; padding:50px;">
<header>
    <% include ./partials/_header %>
</header>
    <h4>My URLs</h4>
<br>
    <div>
        <% if(urls) {%>
            <%for ( var key in urls) {%>
            <li>
                <b><%= key %></b> &rarr; <a href='#' ><%= urls[key] %></a>
                <form method="GET" action="/urls/<%= key %>">
                <button type="submit" >Edit</a></button>
                <form method="POST" action="/urls/<%= key %>/delete">
                <button type="submit" >Delete</button>
                </form>
            </li>
            <br>
            <%}%>
        <li>
            <a href=" /urls/new">Create a New Short Link</a>
        </li>
      <% }%>
    </div>
</ul>
</body>
</html>
